In [1]:
#Import Python Packages
#from google.colab import drive
#drive.mount('/content/drive/')

from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive

In [0]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.metrics import accuracy_score
from google.colab import files

In [3]:
#Read training data file
trainfile = r'/gdrive/My Drive/CIS508A1/Santander Customer Satisfaction - TRAIN.csv'
trainData = pd.read_csv(trainfile)

#Read test data file
testfile = r'/gdrive/My Drive/CIS508A1/Santander Customer Satisfaction - TEST-Without TARGET.csv'
testData = pd.read_csv(testfile)

trainData.head()
#print("============================================================================================================")
testData.head()

   ID  var3  var15  ...  saldo_medio_var44_ult1  saldo_medio_var44_ult3      var38
0   2     2     32  ...                     0.0                     0.0   40532.10
1   5     2     35  ...                     0.0                     0.0   45486.72
2   6     2     23  ...                     0.0                     0.0   46993.95
3   7     2     24  ...                     0.0                     0.0  187898.61
4   9     2     23  ...                     0.0                     0.0   73649.73

[5 rows x 370 columns]

In [4]:
#show datatypes and data shape
print(trainData.shape) 
print(trainData.dtypes)

(76020, 371)
ID                                 int64
var3                               int64
var15                              int64
imp_ent_var16_ult1               float64
imp_op_var39_comer_ult1          float64
imp_op_var39_comer_ult3          float64
imp_op_var40_comer_ult1          float64
imp_op_var40_comer_ult3          float64
imp_op_var40_efect_ult1          float64
imp_op_var40_efect_ult3          float64
imp_op_var40_ult1                float64
imp_op_var41_comer_ult1          float64
imp_op_var41_comer_ult3          float64
imp_op_var41_efect_ult1          float64
imp_op_var41_efect_ult3          float64
imp_op_var41_ult1                float64
imp_op_var39_efect_ult1          float64
imp_op_var39_efect_ult3          float64
imp_op_var39_ult1                float64
imp_sal_var16_ult1               float64
ind_var1_0                         int64
ind_var1                           int64
ind_var2_0                         int64
ind_var2                           int64
ind_var5_0                         int64
ind_var5                           int64
ind_var6_0                         int64
ind_var6                           int64
ind_var8_0                         int64
ind_var8                           int64
                                  ...
saldo_medio_var13_corto_hace2    float64
saldo_medio_var13_corto_hace3    float64
saldo_medio_var13_corto_ult1     float64
saldo_medio_var13_corto_ult3     float64
saldo_medio_var13_largo_hace2    float64
saldo_medio_var13_largo_hace3    float64
saldo_medio_var13_largo_ult1     float64
saldo_medio_var13_largo_ult3     float64
saldo_medio_var13_medio_hace2    float64
saldo_medio_var13_medio_hace3      int64
saldo_medio_var13_medio_ult1       int64
saldo_medio_var13_medio_ult3     float64
saldo_medio_var17_hace2          float64
saldo_medio_var17_hace3          float64
saldo_medio_var17_ult1           float64
saldo_medio_var17_ult3           float64
saldo_medio_var29_hace2          float64
saldo_medio_var29_hace3          float64
saldo_medio_var29_ult1           float64
saldo_medio_var29_ult3           float64
saldo_medio_var33_hace2          float64
saldo_medio_var33_hace3          float64
saldo_medio_var33_ult1           float64
saldo_medio_var33_ult3           float64
saldo_medio_var44_hace2          float64
saldo_medio_var44_hace3          float64
saldo_medio_var44_ult1           float64
saldo_medio_var44_ult3           float64
var38                            float64
TARGET                             int64
Length: 371, dtype: object

In [5]:
#describe data -EDA
print(trainData.describe())

                  ID           var3  ...         var38        TARGET
count   76020.000000   76020.000000  ...  7.602000e+04  76020.000000
mean    75964.050723   -1523.199277  ...  1.172358e+05      0.039569
std     43781.947379   39033.462364  ...  1.826646e+05      0.194945
min         1.000000 -999999.000000  ...  5.163750e+03      0.000000
25%     38104.750000       2.000000  ...  6.787061e+04      0.000000
50%     76043.000000       2.000000  ...  1.064092e+05      0.000000
75%    113748.750000       2.000000  ...  1.187563e+05      0.000000
max    151838.000000     238.000000  ...  2.203474e+07      1.000000

[8 rows x 371 columns]

In [0]:
#Copy Train data excluding target
X_train = trainData.iloc[:, trainData.columns != 'TARGET']
Y_train = trainData.iloc[:, -1]

In [0]:
X_test = testData
X_test.head()

In [0]:
model = DecisionTreeClassifier()

In [9]:
model.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [0]:
y_predict = model.predict(X_test)
pred=pd.DataFrame(y_predict)

In [11]:
np.count_nonzero(y_predict==1)

3497

In [12]:
np.count_nonzero(y_predict==0)

72321

In [0]:
y_true=np.random.randint(2, size=75818)

In [14]:

pred_Probability =pd.DataFrame(model.predict_proba(X_test))
pred_Probability.head()

     0    1
0  1.0  0.0
1  1.0  0.0
2  1.0  0.0
3  1.0  0.0
4  1.0  0.0

In [15]:
type(pred_Probability)

pandas.core.frame.DataFrame

In [0]:
 y_predict=pd.DataFrame(y_predict)

In [17]:
#Write into a file with actual prediction and corresponding probability
pd.concat([y_predict,pred_Probability],axis=1).to_csv("/gdrive/My Drive/CIS508A1/results.csv", index = None)

res=pd.read_csv('/gdrive/My Drive/CIS508A1/results.csv')
res.head()

   0  0.1    1
0  0  1.0  0.0
1  0  1.0  0.0
2  0  1.0  0.0
3  0  1.0  0.0
4  0  1.0  0.0

In [18]:
target_names = ['0','1'] 
y_true=pd.DataFrame(y_true)
#Print Classification Report
print(classification_report(y_true,pred))
print("accuracy score")
accuracy_score(y_true,pred)

              precision    recall  f1-score   support

           0       0.50      0.95      0.66     38114
           1       0.50      0.05      0.09     37704

   micro avg       0.50      0.50      0.50     75818
   macro avg       0.50      0.50      0.37     75818
weighted avg       0.50      0.50      0.37     75818

accuracy score

0.5028489276952702

In [0]:
id=X_test.loc[:,"ID"]
pred.columns=['TARGET']
pd.concat([id,pred], ignore_index=False,axis=1).to_csv("/gdrive/My Drive/CIS508/Test_ans.csv", index = None)